.card-viewer {
  background-color: lightgray;
  text-align: center;
  display: block;
}

.card-viewer h1 {
  font-size: xx-large;
  color: purple;
}

.card-viewer h2 {
  font-size: large;
  color: purple;
}

.card-viewer h3 {
  font-size: medium;
  color: purple;
}

.btn-outline-primary {
  border-width: thin;
  border-color: purple;
  color: purple;
  font-weight: 500;
  margin-top: 20%;
  margin-left: 40%;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #fff;
  font-weight: bold;
  background-color: purple;
  border-color: purple;
}

.flashcard {
  color: purple;
  border-width: 15px;
  border-style: ridge;
  border-color: purple;
  border-radius: 10px;
  box-sizing: border-box;
  height: 40vh;
  margin-bottom: 5%;
}

.flashcard h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: purple;
}

.flashcard h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
  color: purple;
}

.flashcard h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 15px;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  color: purple;
}

.edit-card {
  text-align: center;
  width: 25%;
  height: 18%;
  color: white;
  background-color: purple;
  border-style: groove;
  border-width: thin;
  border-radius: 10px;
  border-color: black;
  border-radius: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
