.flashcards-header {
  text-align: center;
  font-style: italic;
  color: rgb(37, 104, 158);
  background-color: lightgray;
}

.choose-collection {
  text-align: center;
  color: rgb(37, 104, 158);
  font-size: x-large;
}

.body {
  background-image: url(./Library1.jpg);
}

h1 {
  text-align: center;
}
