.add-card {
  text-align: center;
  width: 25%;
  height: 18%;
  color: white;
  background-color: rgb(37, 104, 158);
  border-style: groove;
  border-width: thin;
  border-radius: 10px;
  border-color: black;
  border-radius: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.add-card h1 {
  font-size: x-large;
  padding-top: 1%;
}

input {
  margin-bottom: 3%;
}

.btn-light {
  border-width: thin;
  border-color: rgb(37, 104, 158);
  color: rgb(37, 104, 158);
  font-weight: 500;
}

.btn-light:hover,
.btn-light:focus {
  color: #fff;
  font-weight: bold;
  background-color: rgb(37, 104, 158);
  border-color: black;
  border-width: thin;
}
